body {
    overflow-x: hidden;
    background-color: #77bcee;
    color: #013a81;
    font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

p {
    font-size: 1.4em;
    line-height: 1.7;
    font-family: Georgia, serif;
    font-weight: 400;
}

label {
    font-size: 1em;

}

a {
    color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #013a81;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.total {
    font-family: "PFHandbookPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #013a81;
    line-height: 1em;
    text-transform: uppercase;

}

h1 {
    font-size: 5.3em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 60px;
    margin-bottom: 30px;

}

h2 {
    font-size: 3em;
    margin-bottom: 40px;
    line-height: 1em;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1em;
    text-transform: uppercase;
}

.title {
    font-size: 1.7em;
    padding-top: 38px;
}

.v-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.v-top-padding {
    padding-top: 40px;

}

.row.light {
    background-color: #77bcee;
}

.row.lighter {
    background-color: #fff;
}

.row.dark {
    background-color: #013a81;
    color: #fff;
}

.header-text {
    margin-top: -55%;
}

.circle {
    border: solid 3px #013a81;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0px auto;
    padding-top: 5px;

}

.circle span:after {
    content: '\f063';
    color: #013a81;
    font-size: 2.2em;
    font-family: "FontAwesome";
    font-weight: normal;

}

.image-container {
    background: #77bcee url('../img/Jolynne_v2.png') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.top {
    z-index: 9;
}

.emphasis {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    border: solid 2px #77bcee;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 20px auto;

}

.emphasis .value {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -2px;
    margin: 0;
    font-size: 5em;
    font-family: "PFHandbookPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9fd160;

}

.emphasis .label {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.5em;
    color: #9fd160;
    font-weight: normal;
}

input:focus,
input:active {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    outline: none;
}

.btn-holder {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 20px;
}

.img-centered {
    margin: 0 auto;
}

hr {
    color: #6884a8;
    border-top: 1px solid #6884a8;
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

/******** Header ********/

header {
    color: #013a81;
    background: #77bcee;
    position: relative;
}

.logo {
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /*margin: 0 60px 0 60px;*/

}

.logo a {
    left: 0;
    height: 62px;
    width: 220px;
    display: block;
    margin: 0px auto;
    border: none;
    text-indent: -999em;
    background: url('../img/logo.svg') no-repeat;
}

.logo {
    padding: 20px 20px 20px 20px;
}

.masonry {

    column-count: 2;
    column-gap: 1em;
    margin: 0 auto;
}

.tile {
    display: inline-block;
    background: #f6f6f6;
    text-align: center;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tile p {
    color: #0574bb;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 30px;

}

.branding .tile .link, .content-link {
    max-width: 60%;
    margin: 50px auto 0px auto;
    display: block;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    color: #013a81;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: "pfhandbookpro", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.content-link {
    text-align: left;
    max-width: 100%;
}

.content-link:after {
    margin-left: 10px;
}

.branding .wrapper .link:after, .content-link:after {
    display: inline-block;
    font-family: "FontAwesome";
    content: '\f061';
    text-deoration: none;
    font-size: 1em;
    font-weight: normal;
}

.tile .icon {
    margin: 20px auto;
    width: 40%;
}

/******** Footer ********/

footer {
    background-color: #013a81;
    line-height: 0.7em;
    font-size: 0.7em;
    padding: 20px 0;
    color: #fff;

}

footer p {
    font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.footer-links {
    padding-top: 10px;
    display: inline-block;
}

.footer-links ul {
    padding-left: 0;
}

.footer-links ul.generic li {
    float: none;
    clear: both;
    display: inline;
    padding-right: 0px;
}

.footer-links .generic-links {
    margin: 20px auto 10px auto;
}

.footer-links .generic-links span {
    font-size: 1.8em;
    color: #fff;
    font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-links ul.generic {
    font-size: 3.5em;
    margin-top: 10px;
    text-align: center;
}

.footer-links ul.generic li:after {
    content: "  ";

}

.footer-links ul.generic li.youtube:before {
    content: '\f167';
    font-family: "FontAwesome";
}

.footer-links ul.generic li.twitter:before {
    content: '\f099';
    font-family: "FontAwesome";
}

.footer-links ul.generic li.linkedin:before {
    content: '\f0e1';
    font-family: "FontAwesome";
}

.footer-links ul li {
    float: left;
    display: block;
    padding-right: 5px;
    font-size: 1.2em;
    line-height: 1.2em;
}

.footer-links ul li a:hover,
.footer-links ul li a:focus,
.footer-links ul li a:active,
.footer-links ul li a.active {
    outline: 0;
    color: #fff;
    text-decoration: underline;
}

.footer-links ul li:after {
    content: " |";
}

.footer-links ul li:last-child:after {
    content: "";
}

.contact-links {
    margin-top: 20px;
}

.contact-links ul li {
    display: block;
    text-align: center;
    float: left;
    width: 100px;
}

.contact-links span {
    font-size: 3.5em;
    color: #fff;
    line-height: 1.6em;
}

.contact-links span.label {
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.2em;
    display: block;
    text-align: center;
    padding-top: 5px;

}

/******** Media Queries ********/

@media (min-width: 992px) {
    .member-image.front {
        max-width: 150%;
        margin-left: -160px;
    }

    h1.front {
        margin-top: 30%;
    }
}

@media (min-width: 1200px) {
    .member-image.right {
        max-width: 150%;
        margin-left: -20px;

    }

    .member-image.left {
        max-width: 150%;
        margin-left: -150px;

    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .member-image.right {
        max-width: 80%;
        margin: 0px auto;

    }

    .member-image.left {
        max-width: 80%;
        margin: 0px auto;

    }
}

@media (width: 1024px) {

    .member-image.right, .member-image.left {
        max-width: 80%;
        margin: 0px auto;

    }

    .member-image.front {
        max-width: 150%;
        margin-left: -160px;
    }

}

@media (min-width: 700px) {

    .pull-right-md {
        float: right;
    }

}

@media (max-width: 700px) {
    .circle {
        display: none;
    }
}

@media (max-width: 600px) {
    .masonry {

        column-count: 1;
        column-gap: 1em;
        margin: 0 auto;
    }

    .results h1 {
        font-size: 1.2em;
        margin-bottom: 0px;
    }
}

@media (max-width: 375px) {
    h1.front {
        font-size: 3.5em;
    }

    .title {
        padding-top: 40px;
        font-size: 1.2em;
    }

    p.total {
        font-size: 2em;
    }
}

@media (max-width: 320px) {

    header .logo {
        padding-left: 10px;
    }
}

/****************/
