body {
    overflow-x: hidden;
    background-color: #fff;
    color: #013a81;
    font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

p {
    font-size: 1.1em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #79838d;
}

label {
    font-size: 1em;

}

a {
    color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #013a81;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.total {
    font-family: Georgia, serif;
    color: #fff;
    line-height: 1em;

}

h1 {
    font-size: 4.5em;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: -1px;
    margin-top: 60px;
    margin-bottom: 30px;

}

h2 {
    font-size: 3em;
    margin-bottom: 40px;
    line-height: 1em;
    color: #213f7d;

}

h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1em;
    color: #213f7d;

}

.title {
    font-size: 1.7em;
    padding-top: 38px;
}

.v-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.v-top-padding {
    padding-top: 40px;

}

.v-bottom-padding {
    padding-bottom: 40px;

}

.grey-bg {
    background-color: #f2f3f4;
}

.border {

    height: 320px;
    padding: 20px 40px 20px 40px;
}

.button {
    min-width: 220px;
    background-color: #fff;
    color: #000;
    text-transform: none;
    border: none;
    font-size: 15px;
    line-height: 1.33333;
    font-family: HelveticaNeueW02-65Medi, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color .25s, color .25s, border-color .25s;
    display: inline-block;
    outline: none;
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #5c6063;
    color: #fff;
    text-decoration: none;
}

.background-image {
    background: #fff url('../img/banner-image.jpg') no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.bottom-background-image {
    background: #000 url('../img/bottom-banner-image.png') no-repeat;
    color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

}

.bottom-background-image p {
    color: white;
}

.flex-padding {
    padding-top: 10%;
    padding-bottom: 25%;
}

.icon {
    margin: 20px auto;
    width: 40%;
}

.tile img {
    height: 40%;
}

.tile p {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
}

/******** Header ********/

header {
    color: #013a81;
    position: relative;
}

.logo {
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /*margin: 0 60px 0 60px;*/

}

.logo a {
    left: 0;
    height: 62px;
    width: 220px;
    display: block;
    margin: 0px auto;
    border: none;
    text-indent: -999em;
    background: url('../img/logo.svg') no-repeat;
}

.logo {
    padding: 20px 20px 20px 20px;
}

/******** Footer ********/

footer {
    line-height: 0.5;
    font-size: 0.7em;
    padding: 20px 0;
    color: #fff;
}

footer p.awards {
    font-family: 'PFHandbookPro-Medium';
    font-size: 2.0em;
    font-weight: normal;
    color: #fff;
}

.border.left {
    border-left: solid 5px #fff;
    border-right: solid 5px #fff;
}

.border.right {
    border-right: solid 5px #fff;
    border-left: solid 5px #fff;
}

.border.top {
    border-top: solid 5px #fff;
}

@media (max-width: 1000px) {
    .border.middle {
        border: solid 5px #fff;
    }

    .border.right.top {
        border-top: none
    }

    .container.content {
        text-align: center;
    }
}

@media (max-width: 320px) {
    img.awards {
        width: 80%;
    }
}